@view-transition {
    navigation: auto;
}
::view-transition-old(root),
::view-transition-new(root){
    animation-duration: 0.2s;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
}

.leccion-pagina {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 1fr;
}

.superior {
    background-color: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    gap: 30px;
}

.superior  a {
    font-size: 25px;
    color: #333;
    text-decoration: none;
}

.progreso {
    flex: 1;
}

.progreso p {
    margin: 0 0 5px 0;
}

.barra-progreso, 
.barra-progreso-chino,
.barra-progreso-ingles {
    width: 100%;
    height: 12px;
    background-color: #ddd;
    border-radius: 10px;
}

.barra-progreso div {
    width: 60%;
    height: 100%;
    background-color: #315bea;
    border-radius: 10px;
}
.barra-progreso-chino div{
    width: 0%;
    height: 100%;
    background-color: #315bea;
    border-radius: 10px;
}
.barra-progreso-ingles div{
    width: 70%;
    height: 100%;
    background-color: #315bea;
    border-radius: 10px;
}
.vidas {
    text-align: center;
}

.vidas p {
    margin: 3px;
} 

.ejercicio {
    width: 750px;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 35px;
}
.ejercicio-incorrecto{
    width: 750px;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.823);
}
.ejercicio-correcto{
    width: 750px;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 15px rgba(0, 255, 34, 0.823);

}


.ejercicio h1 {
    text-align: center;
}

.ejercicio-incorrecto h1{
    text-align: center;
}
.ejercicio-correcto h1{
    text-align: center;
}

.frase {
    text-align: center;
    font-size: 22px;
    margin: 35px 0;
}
.audio{
    text-align: center;
}
.audio audio{
    height: 35px;
            

}

.respuesta {
    min-height: 60px;
    border: 2px solid #bbb;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.respuesta span {
    border: 1px solid #315bea;
    padding: 10px;
    border-radius: 5px;
}

.ejercicio h2 {
    font-size: 18px;
    margin-top: 30px;
}
.ejercicio-correcto h2{
    font-size: 18px;
    margin-top: 30px;
}
.ejercicio-incorrecto h2{
    font-size: 18px;
    margin-top: 30px;
}

.banco {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.banco a {
    background-color: white;
    border: 1px solid #aaa;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    transition: color 0.2s ease;
}
.banco a:hover   {
    background-color: #beababaa;

}

.banco .ayuda{
    background-color: white;
    border: 1px solid #1a25bb;
    box-shadow: 0 0 15px rgb(17, 36, 162);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #333;

}

.ejercicio .rta {
    display: flex;
    width: 100%;
    margin-top: 35px;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #78809bfd;
    color: white;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    cursor: not-allowed;
}
.ejercicio .rta-comprobada{

    display: flex;
    width: 100%;
    margin-top: 35px;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #0b0fe0e6;
    box-shadow: 0 0 15px rgb(0, 13, 255);
    color: white;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
}

.ejercicio-incorrecto .rta-incorrecta {
    display: flex;
    width: 100%;
    margin-top: 35px;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #e00b0be6;
    box-shadow: 0 0 15px red;
    color: white;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
}
.skip{
    display: flex;
    padding: 10px;
    font-weight: bold;
    color: #e0c110;
    justify-content: end;
}

.siguiente{
    display: flex;
    padding: 10px;
    font-weight: bold;
    color: #10e03d;
    justify-content: end;

}
.ayudame{
    display: flex;
    max-width: 40px;
    padding: 10px;
    font-weight: bold;
    color: #e06d10;
    justify-content: flex-start;

}

.ejercicio-correcto .rta-correcta{
    display: flex;
    width: 100%;
    margin-top: 35px;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #0fe321e6;
    box-shadow: 0 0 15px rgb(0, 255, 0);
    color: white;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;

}

@media (max-width: 768px) {
    .ej {
        width: 85%;
    }
}

@media (max-width: 576px) {
    .superior {
        padding: 10px;
        gap: 10px;
    }

    .ej {
        width: 92%;
        margin: 20px auto;
        padding: 20px;
    }

    .frase {
        font-size: 18px;
    }
}